.App {
  text-align: center;
}

nav{
  display:flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background:rgb(124, 77, 211);
  color: white;
}
.nav-links{
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.wel{
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
  .paper {
    display: 'flex';
    flex-direction: 'column';
    align-items: 'center';
  }
 
  .form{
    width: '100%';
  }
  .submit{
  margin-top: 30px;
  }
